In [3]:
# import dask.dataframe as dd
from pyspark.sql import SparkSession
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql.functions import broadcast
from pyspark.sql.types import StructType
from pyspark.sql.functions import unix_timestamp, from_unixtime, col, udf
from pyspark.sql.types import DateType
from datetime import datetime
from pyspark.sql.functions import col, row_number
from pyspark.sql.window import Window
sc = SparkContext('local')
spark = SparkSession(sc)
import pandas as pd
# from dataprep.clean import validate_country
import pyspark.sql.functions as F
from pyspark.sql.functions import *
from pyspark.sql.types import *


# In[4]:

22/01/25 00:27:46 WARN Utils: Your hostname, rahul-System-Product-Name resolves to a loopback address: 127.0.1.1; using 192.168.10.100 instead (on interface wlp8s0)
22/01/25 00:27:46 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/01/25 00:27:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
df1 = spark.read.format("csv").option("header", "true").load("/home/rahul/Interview/Weatherforcast/city_temperature_sample.csv")
df2 = spark.read.format("csv").option("header", "true").load("/home/rahul/Interview/Weatherforcast/worldcities_sample.csv")
# df1.count()
# df2.count()


#Type cast day month and year to int 
df1=df1.withColumn('day',df1['day'].cast("int").alias('day'))
df1=df1.withColumn('month',df1['month'].cast("int").alias('month'))
df1=df1.withColumn('year',df1['year'].cast("int").alias('year'))
df1=df1.withColumn('AvgTemperature',df1['AvgTemperature'].cast("float").alias('AvgTemperature'))
df2=df2.withColumn('lat',df2['lat'].cast("float").alias('lat'))
df2=df2.withColumn('lng',df2['lng'].cast("float").alias('lng'))

df1.createOrReplaceTempView("city_temperature")
df2.createOrReplaceTempView("worldcities")

In [3]:

city_temperature1=spark.sql("""
select Region, country as temp_country, State, City as city_temp,
case when day >31 or day <1 then null else day end as day1, day,case when month >12 or month <1 then null else month end as month1,
month,year, case when length(year) <4 or length(year) >4 then null else year end year1,
AvgTemperature from city_temperature """)

city_temperature1.createOrReplaceTempView("city_temperature1")

In [4]:
city_temperature1.show()

+------+------------+-----+---------+----+---+------+-----+----+-----+--------------+
|Region|temp_country|State|city_temp|day1|day|month1|month|year|year1|AvgTemperature|
+------+------------+-----+---------+----+---+------+-----+----+-----+--------------+
|Africa|       Japan| null|  Algiers|   1|  1|     1|    1|1995| 1995|          64.2|
|Africa|       Japan| null|  Algiers|   2|  2|     1|    1| 195| null|          49.4|
|Africa|       Japan| null|  Algiers|  21| 21|     3|    3|null| null|          56.7|
|Africa|       Japan| null|  Algiers|  22| 22|  null|   13|1995| 1995|          51.4|
|Africa|       Japan| null|  Algiers|null| 32|     3|    3|1995| 1995|          51.6|
|Africa|       Japan| null|  Algiers|null|  0|     3|    3|1995| 1995|          53.3|
|Africa|       Japan| null|  Algiers|  25| 25|  null|    0|1995| 1995|          56.4|
|Africa|       Japan| null|  Algiers|  26| 26|     3|    3|1995| 1995|          54.7|
|Africa|       Japan| null|  Algiers|  27| 27|     3|    3|1995| 1995|          54.5|
|Africa|       Japan| null|  Algiers|  28| 28|     3|    3|1995| 1995|          53.4|
|Africa|       Japan| null|  Algiers|  29| 29|     3|    3|1995| 1995|          56.6|
|Africa|       Japan| null|  Algiers|  30| 30|     3|    3|1995| 1995|          53.2|
|Africa|       Japan| null|  Algiers|  31| 31|     3|    3|1995| 1995|          46.6|
|Africa|       Japan| null|  Algiers|   1|  1|     4|    4|1995| 1995|          47.4|
|Africa|       Japan| null|  Algiers|   2|  2|     4|    4|1995| 1995|          52.0|
|Africa|       Japan| null|  Algiers|   3|  3|     4|    4|1995| 1995|          62.2|
|Africa|       Japan| null|  Algiers|   4|  4|     4|    4|1995| 1995|          64.2|
|Africa|       Japan| null|  Algiers|   5|  5|     4|    4|1995| 1995|          59.5|
|Africa|       Japan| null|  Algiers|   6|  6|     4|    4|1995| 1995|          59.0|
|Africa|       Japan| null|  Algiers|   7|  7|     4|    4|1995| 1995|          54.9|
+------+------------+-----+---------+----+---+------+-----+----+-----+--------------+
only showing top 20 rows

In [5]:
df3=spark.sql("""
select Region, temp_country, State,city_temp, CONCAT(Day1, '/',  Month1, '/',Year1) as date_temp,
day, month,year,
AvgTemperature  from city_temperature1 """)
broadcast_df=df3.join(broadcast(df2),df3.temp_country==df2.country).cache()

#remove null field date fields

# broadcast_df.na.drop(Seq("date_temp")).show(false)
broadcast_df=broadcast_df.where(broadcast_df.date_temp.isNotNull())

In [6]:
broadcast_df.show()

+------+------------+-----+---------+---------+---+-----+----+--------------+-------+----------+-------+--------+-------+----+----+----------+-------+----------+----------+
|Region|temp_country|State|city_temp|date_temp|day|month|year|AvgTemperature|   city|city_ascii|    lat|     lng|country|iso2|iso3|admin_name|capital|population|        id|
+------+------------+-----+---------+---------+---+-----+----+--------------+-------+----------+-------+--------+-------+----+----+----------+-------+----------+----------+
|Africa|       Japan| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|
|Africa|       Japan| null|  Algiers|26/3/1995| 26|    3|1995|          54.7|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|
|Africa|       Japan| null|  Algiers|27/3/1995| 27|    3|1995|          54.5|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|
|Africa|       Japan| null|  Algiers|28/3/1995| 28|    3|1995|          53.4|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|
|Africa|       Japan| null|  Algiers|29/3/1995| 29|    3|1995|          56.6|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|
|Africa|       Japan| null|  Algiers|30/3/1995| 30|    3|1995|          53.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|
|Africa|       Japan| null|  Algiers|31/3/1995| 31|    3|1995|          46.6|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|
|Africa|       Japan| null|  Algiers| 1/4/1995|  1|    4|1995|          47.4|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|
|Africa|       Japan| null|  Algiers| 2/4/1995|  2|    4|1995|          52.0|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|
|Africa|       Japan| null|  Algiers| 3/4/1995|  3|    4|1995|          62.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|
|Africa|       Japan| null|  Algiers| 4/4/1995|  4|    4|1995|          64.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|
|Africa|       Japan| null|  Algiers| 5/4/1995|  5|    4|1995|          59.5|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|
|Africa|       Japan| null|  Algiers| 6/4/1995|  6|    4|1995|          59.0|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|
|Africa|       Japan| null|  Algiers| 7/4/1995|  7|    4|1995|          54.9|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|
|Africa|       Japan| null|  Algiers| 8/4/1995|  8|    4|1995|          54.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|
|Africa|       Japan| null|  Algiers|9/12/1995|  9|   12|1995|          57.8|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|
|Africa|       Japan| null|  Algiers|15/4/1995| 15|    4|1995|          54.5|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|
+------+------------+-----+---------+---------+---+-----+----+--------------+-------+----------+-------+--------+-------+----+----+----------+-------+----------+----------+

In [7]:
from pyspark.sql.functions import unix_timestamp, from_unixtime
func =  udf (lambda x: datetime.strptime(x, '%d/%m/%Y'), DateType())

broadcast_df1 = broadcast_df.withColumn('date_new', func(col('date_temp')))
broadcast_df1.printSchema()
broadcast_df1.show()

root
 |-- Region: string (nullable = true)
 |-- temp_country: string (nullable = true)
 |-- State: string (nullable = true)
 |-- city_temp: string (nullable = true)
 |-- date_temp: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- AvgTemperature: float (nullable = true)
 |-- city: string (nullable = true)
 |-- city_ascii: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- lng: float (nullable = true)
 |-- country: string (nullable = true)
 |-- iso2: string (nullable = true)
 |-- iso3: string (nullable = true)
 |-- admin_name: string (nullable = true)
 |-- capital: string (nullable = true)
 |-- population: string (nullable = true)
 |-- id: string (nullable = true)
 |-- date_new: date (nullable = true)

+------+------------+-----+---------+---------+---+-----+----+--------------+-------+----------+-------+--------+-------+----+----+----------+-------+----------+----------+----------+
|Region|temp_country|State|city_temp|date_temp|day|month|year|AvgTemperature|   city|city_ascii|    lat|     lng|country|iso2|iso3|admin_name|capital|population|        id|  date_new|
+------+------------+-----+---------+---------+---+-----+----+--------------+-------+----------+-------+--------+-------+----+----+----------+-------+----------+----------+----------+
|Africa|       Japan| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-01-01|
|Africa|       Japan| null|  Algiers|26/3/1995| 26|    3|1995|          54.7|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-03-26|
|Africa|       Japan| null|  Algiers|27/3/1995| 27|    3|1995|          54.5|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-03-27|
|Africa|       Japan| null|  Algiers|28/3/1995| 28|    3|1995|          53.4|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-03-28|
|Africa|       Japan| null|  Algiers|29/3/1995| 29|    3|1995|          56.6|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-03-29|
|Africa|       Japan| null|  Algiers|30/3/1995| 30|    3|1995|          53.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-03-30|
|Africa|       Japan| null|  Algiers|31/3/1995| 31|    3|1995|          46.6|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-03-31|
|Africa|       Japan| null|  Algiers| 1/4/1995|  1|    4|1995|          47.4|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-01|
|Africa|       Japan| null|  Algiers| 2/4/1995|  2|    4|1995|          52.0|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-02|
|Africa|       Japan| null|  Algiers| 3/4/1995|  3|    4|1995|          62.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-03|
|Africa|       Japan| null|  Algiers| 4/4/1995|  4|    4|1995|          64.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-04|
|Africa|       Japan| null|  Algiers| 5/4/1995|  5|    4|1995|          59.5|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-05|
|Africa|       Japan| null|  Algiers| 6/4/1995|  6|    4|1995|          59.0|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-06|
|Africa|       Japan| null|  Algiers| 7/4/1995|  7|    4|1995|          54.9|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-07|
|Africa|       Japan| null|  Algiers| 8/4/1995|  8|    4|1995|          54.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-08|
|Africa|       Japan| null|  Algiers|9/12/1995|  9|   12|1995|          57.8|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-12-09|
|Africa|       Japan| null|  Algiers|15/4/1995| 15|    4|1995|          54.5|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-15|
+------+------------+-----+---------+---------+---+-----+----+--------------+-------+----------+-------+--------+-------+----+----+----------+-------+----------+----------+----------+

In [8]:
##dropping a column from the dataframe different ways
# pyspark.sql.functions import col

broadcast_df1.drop("iso3").printSchema()

broadcast_df1.drop(col("iso2")) \
  .printSchema()  
  
broadcast_df1.drop(broadcast_df1.iso2) \
  .printSchema()

root
 |-- Region: string (nullable = true)
 |-- temp_country: string (nullable = true)
 |-- State: string (nullable = true)
 |-- city_temp: string (nullable = true)
 |-- date_temp: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- AvgTemperature: float (nullable = true)
 |-- city: string (nullable = true)
 |-- city_ascii: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- lng: float (nullable = true)
 |-- country: string (nullable = true)
 |-- iso2: string (nullable = true)
 |-- admin_name: string (nullable = true)
 |-- capital: string (nullable = true)
 |-- population: string (nullable = true)
 |-- id: string (nullable = true)
 |-- date_new: date (nullable = true)

root
 |-- Region: string (nullable = true)
 |-- temp_country: string (nullable = true)
 |-- State: string (nullable = true)
 |-- city_temp: string (nullable = true)
 |-- date_temp: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- AvgTemperature: float (nullable = true)
 |-- city: string (nullable = true)
 |-- city_ascii: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- lng: float (nullable = true)
 |-- country: string (nullable = true)
 |-- iso3: string (nullable = true)
 |-- admin_name: string (nullable = true)
 |-- capital: string (nullable = true)
 |-- population: string (nullable = true)
 |-- id: string (nullable = true)
 |-- date_new: date (nullable = true)

root
 |-- Region: string (nullable = true)
 |-- temp_country: string (nullable = true)
 |-- State: string (nullable = true)
 |-- city_temp: string (nullable = true)
 |-- date_temp: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- AvgTemperature: float (nullable = true)
 |-- city: string (nullable = true)
 |-- city_ascii: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- lng: float (nullable = true)
 |-- country: string (nullable = true)
 |-- iso3: string (nullable = true)
 |-- admin_name: string (nullable = true)
 |-- capital: string (nullable = true)
 |-- population: string (nullable = true)
 |-- id: string (nullable = true)
 |-- date_new: date (nullable = true)

In [9]:
#dropping more than 1 columns
broadcast_df1.drop("iso3","iso2") \
    .printSchema()

cols = ("iso3","iso2")

broadcast_df1.drop(*cols) \
   .printSchema()

root
 |-- Region: string (nullable = true)
 |-- temp_country: string (nullable = true)
 |-- State: string (nullable = true)
 |-- city_temp: string (nullable = true)
 |-- date_temp: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- AvgTemperature: float (nullable = true)
 |-- city: string (nullable = true)
 |-- city_ascii: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- lng: float (nullable = true)
 |-- country: string (nullable = true)
 |-- admin_name: string (nullable = true)
 |-- capital: string (nullable = true)
 |-- population: string (nullable = true)
 |-- id: string (nullable = true)
 |-- date_new: date (nullable = true)

root
 |-- Region: string (nullable = true)
 |-- temp_country: string (nullable = true)
 |-- State: string (nullable = true)
 |-- city_temp: string (nullable = true)
 |-- date_temp: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- AvgTemperature: float (nullable = true)
 |-- city: string (nullable = true)
 |-- city_ascii: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- lng: float (nullable = true)
 |-- country: string (nullable = true)
 |-- admin_name: string (nullable = true)
 |-- capital: string (nullable = true)
 |-- population: string (nullable = true)
 |-- id: string (nullable = true)
 |-- date_new: date (nullable = true)

In [10]:
##PySpark splits the records based on the partition column and stores each partition data into a sub-directory.
broadcast_df1.write.option("header",True) \
        .partitionBy("year") \
        .mode("overwrite") \
        .csv("/home/rahul/Interview/Weatherforcast/broadcast_df1.1.csv/year/")

In [11]:
##PySpark splits the records based on the partition column and stores each partition data into a sub-directory.
broadcast_df1.write.option("header",True) \
        .partitionBy("year","temp_country") \
        .mode("overwrite") \
        .csv("/home/rahul/Interview/Weatherforcast/broadcast_df1.1.csv/")

In [12]:
#Use repartition() and partitionBy() together
broadcast_df1.repartition(2) \
        .write.option("header",True) \
        .partitionBy("year") \
        .mode("overwrite") \
        .csv("/home/rahul/Interview/Weatherforcast/broadcast_df1.rep.csv/")

In [13]:
#partitionBy() control number of partitions
broadcast_df1.write.option("header",True) \
        .option("maxRecordsPerFile", 2) \
        .partitionBy("year") \
        .mode("overwrite") \
        .csv("/home/rahul/Interview/Weatherforcast/broadcast_df1.rep.csv/")

In [14]:
#pivoting of country
broadcast_df1.groupBy("year").pivot("Country").avg("AvgTemperature").show()

+----+-----------------+
|year|            Japan|
+----+-----------------+
|1995|55.81764692418716|
+----+-----------------+

In [15]:


#highest temperature  based on countries
w3 = Window.partitionBy("country").orderBy(col("AvgTemperature").desc())
broadcast_df1.withColumn("row",row_number().over(w3))   .filter(col("row") == 1).drop("row")   .show()


# In[10]:


broadcast_df1.withColumn("row",row_number().over(w3))   .withColumn("avg", avg(col("AvgTemperature")).over(w3))   .withColumn("sum", sum(col("AvgTemperature")).over(w3))   .withColumn("min", min(col("AvgTemperature")).over(w3))   .withColumn("max", max(col("AvgTemperature")).over(w3))   .where(col("row")==1).select("country","avg","sum","min","max")   .show()


# In[75]:



broadcast_df1.createOrReplaceTempView("broadcast_df1")
broadcast_df1.cache()
broadcast_df1.show()


# In[98]:


country_lkp = spark.read.option("header", "true").option("quote", "\"").option("escape", "\"").csv("/home/rahul/Interview/Weatherforcast/country_lkp.csv")
country_lkp.createOrReplaceTempView("country_lkp")
country_lkp.cache() 
country_lkp.show()


# In[91]:


spark.sql("""
select * from country_lkp where UPPER(country) like '%ARUBA%'""").show()


# In[100]:


broadcast_df2=spark.sql("""
select a.* from broadcast_df1 a inner join country_lkp b on upper(a.country)=upper(b.country) """)


# In[102]:



# broadcast_df2 = broadcast_df1.merge(country_lkp, left_on=broadcast_df1["country"].str.lower(), right_on=["country"].str.lower(), how="left")

broadcast_df2.createOrReplaceTempView("broadcast_df2")
broadcast_df2.cache()
broadcast_df2.show()





# #Total number of countries
no_of_cities=spark.sql("""select count(city_temp) as no_of_cities from broadcast_df2""")
no_of_cities.show()

+------+------------+-----+---------+---------+---+-----+----+--------------+-------+----------+-------+--------+-------+----+----+----------+-------+----------+----------+----------+
|Region|temp_country|State|city_temp|date_temp|day|month|year|AvgTemperature|   city|city_ascii|    lat|     lng|country|iso2|iso3|admin_name|capital|population|        id|  date_new|
+------+------------+-----+---------+---------+---+-----+----+--------------+-------+----------+-------+--------+-------+----+----+----------+-------+----------+----------+----------+
|Africa|       Japan| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-01-01|
+------+------------+-----+---------+---------+---+-----+----+--------------+-------+----------+-------+--------+-------+----+----+----------+-------+----------+----------+----------+

+-------+-----------------+------------------+----+----+
|country|              avg|               sum| min| max|
+-------+-----------------+------------------+----+----+
|  Japan|64.19999694824219|128.39999389648438|64.2|64.2|
+-------+-----------------+------------------+----+----+

+------+------------+-----+---------+---------+---+-----+----+--------------+-------+----------+-------+--------+-------+----+----+----------+-------+----------+----------+----------+
|Region|temp_country|State|city_temp|date_temp|day|month|year|AvgTemperature|   city|city_ascii|    lat|     lng|country|iso2|iso3|admin_name|capital|population|        id|  date_new|
+------+------------+-----+---------+---------+---+-----+----+--------------+-------+----------+-------+--------+-------+----+----+----------+-------+----------+----------+----------+
|Africa|       Japan| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-01-01|
|Africa|       Japan| null|  Algiers|26/3/1995| 26|    3|1995|          54.7|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-03-26|
|Africa|       Japan| null|  Algiers|27/3/1995| 27|    3|1995|          54.5|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-03-27|
|Africa|       Japan| null|  Algiers|28/3/1995| 28|    3|1995|          53.4|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-03-28|
|Africa|       Japan| null|  Algiers|29/3/1995| 29|    3|1995|          56.6|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-03-29|
|Africa|       Japan| null|  Algiers|30/3/1995| 30|    3|1995|          53.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-03-30|
|Africa|       Japan| null|  Algiers|31/3/1995| 31|    3|1995|          46.6|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-03-31|
|Africa|       Japan| null|  Algiers| 1/4/1995|  1|    4|1995|          47.4|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-01|
|Africa|       Japan| null|  Algiers| 2/4/1995|  2|    4|1995|          52.0|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-02|
|Africa|       Japan| null|  Algiers| 3/4/1995|  3|    4|1995|          62.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-03|
|Africa|       Japan| null|  Algiers| 4/4/1995|  4|    4|1995|          64.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-04|
|Africa|       Japan| null|  Algiers| 5/4/1995|  5|    4|1995|          59.5|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-05|
|Africa|       Japan| null|  Algiers| 6/4/1995|  6|    4|1995|          59.0|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-06|
|Africa|       Japan| null|  Algiers| 7/4/1995|  7|    4|1995|          54.9|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-07|
|Africa|       Japan| null|  Algiers| 8/4/1995|  8|    4|1995|          54.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-08|
|Africa|       Japan| null|  Algiers|9/12/1995|  9|   12|1995|          57.8|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-12-09|
|Africa|       Japan| null|  Algiers|15/4/1995| 15|    4|1995|          54.5|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-15|
+------+------------+-----+---------+---------+---+-----+----+--------------+-------+----------+-------+--------+-------+----+----+----------+-------+----------+----------+----------+

+----+-------------------+----------+
|code|            country|contry3str|
+----+-------------------+----------+
|   4|        Afghanistan|       AFG|
| 248|      Aland Islands|       ALA|
|   8|            Albania|       ALB|
|  12|            Algeria|       DZA|
|  16|     American Samoa|       ASM|
|  20|            Andorra|       AND|
|  24|             Angola|       AGO|
| 660|           Anguilla|       AIA|
|  28|Antigua and Barbuda|       ATG|
|  32|          Argentina|       ARG|
|  51|            Armenia|       ARM|
| 533|              Aruba|       ABW|
|  36|          Australia|       AUS|
|  40|            Austria|       AUT|
|  31|         Azerbaijan|       AZE|
|  44|            Bahamas|       BHS|
|  48|            Bahrain|       BHR|
|  50|         Bangladesh|       BGD|
|  52|           Barbados|       BRB|
| 112|            Belarus|       BLR|
+----+-------------------+----------+
only showing top 20 rows

+----+-------+----------+
|code|country|contry3str|
+----+-------+----------+
| 533|  Aruba|       ABW|
+----+-------+----------+

+------+------------+-----+---------+---------+---+-----+----+--------------+-------+----------+-------+--------+-------+----+----+----------+-------+----------+----------+----------+
|Region|temp_country|State|city_temp|date_temp|day|month|year|AvgTemperature|   city|city_ascii|    lat|     lng|country|iso2|iso3|admin_name|capital|population|        id|  date_new|
+------+------------+-----+---------+---------+---+-----+----+--------------+-------+----------+-------+--------+-------+----+----+----------+-------+----------+----------+----------+
|Africa|       Japan| null|  Algiers|15/4/1995| 15|    4|1995|          54.5|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-15|
|Africa|       Japan| null|  Algiers|9/12/1995|  9|   12|1995|          57.8|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-12-09|
|Africa|       Japan| null|  Algiers| 8/4/1995|  8|    4|1995|          54.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-08|
|Africa|       Japan| null|  Algiers| 7/4/1995|  7|    4|1995|          54.9|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-07|
|Africa|       Japan| null|  Algiers| 6/4/1995|  6|    4|1995|          59.0|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-06|
|Africa|       Japan| null|  Algiers| 5/4/1995|  5|    4|1995|          59.5|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-05|
|Africa|       Japan| null|  Algiers| 4/4/1995|  4|    4|1995|          64.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-04|
|Africa|       Japan| null|  Algiers| 3/4/1995|  3|    4|1995|          62.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-03|
|Africa|       Japan| null|  Algiers| 2/4/1995|  2|    4|1995|          52.0|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-02|
|Africa|       Japan| null|  Algiers| 1/4/1995|  1|    4|1995|          47.4|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-04-01|
|Africa|       Japan| null|  Algiers|31/3/1995| 31|    3|1995|          46.6|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-03-31|
|Africa|       Japan| null|  Algiers|30/3/1995| 30|    3|1995|          53.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-03-30|
|Africa|       Japan| null|  Algiers|29/3/1995| 29|    3|1995|          56.6|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-03-29|
|Africa|       Japan| null|  Algiers|28/3/1995| 28|    3|1995|          53.4|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-03-28|
|Africa|       Japan| null|  Algiers|27/3/1995| 27|    3|1995|          54.5|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-03-27|
|Africa|       Japan| null|  Algiers|26/3/1995| 26|    3|1995|          54.7|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-03-26|
|Africa|       Japan| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-01-01|
+------+------------+-----+---------+---------+---+-----+----+--------------+-------+----------+-------+--------+-------+----+----+----------+-------+----------+----------+----------+

+------------+
|no_of_cities|
+------------+
|          17|
+------------+

In [16]:

# #Total number of countries
no_of_countries=spark.sql("""select count(temp_country) as no_of_countries from broadcast_df2""")
no_of_countries.cache()
no_of_countries.show()


# #AVg temp of around the world
avg_wrldtemp=spark.sql("""select avg(AvgTemperature) as avg_wrldtemp from broadcast_df2""")
avg_wrldtemp.cache()
avg_wrldtemp.show()


# #AVg temp of around the world
avg_cntrytemp=spark.sql("""select avg(AvgTemperature) as avg_cntrytemp from broadcast_df2 group by temp_country""")
avg_cntrytemp.cache()
avg_cntrytemp.show()

# #AVg temp of around the world between year 1995 and 2000
avg_cntrytemp_1995_2000=spark.sql("""select temp_country as countries,avg(AvgTemperature) as avg_cntrytemp from broadcast_df2 where year between 1995 and 2000 group by temp_country""")
avg_cntrytemp_1995_2000.cache()
avg_cntrytemp_1995_2000.show()

# #AVg temp of around the world between year 1995 and 2000
avg_cntrytemp_2000_2010=spark.sql("""select temp_country as countries, avg(AvgTemperature) as avg_cntrytemp from broadcast_df2 where year between 2000 and 2010 group by temp_country""")
avg_cntrytemp_2000_2010.cache()
avg_cntrytemp_2000_2010.show()

+---------------+
|no_of_countries|
+---------------+
|             17|
+---------------+

+-----------------+
|     avg_wrldtemp|
+-----------------+
|55.81764692418716|
+-----------------+

+-----------------+
|    avg_cntrytemp|
+-----------------+
|55.81764692418716|
+-----------------+

+---------+-----------------+
|countries|    avg_cntrytemp|
+---------+-----------------+
|    Japan|55.81764692418716|
+---------+-----------------+

+---------+-------------+
|countries|avg_cntrytemp|
+---------+-------------+
+---------+-------------+

In [17]:
# #AVg temp of around the world between year 1995 and 2000
avg_cntrytemp_2000_2010=spark.sql("""select * from broadcast_df2 where year between 2000 and 2010 limit 10""")
avg_cntrytemp_2000_2010.cache()
avg_cntrytemp_2000_2010.show()

+------+------------+-----+---------+---------+---+-----+----+--------------+----+----------+---+---+-------+----+----+----------+-------+----------+---+--------+
|Region|temp_country|State|city_temp|date_temp|day|month|year|AvgTemperature|city|city_ascii|lat|lng|country|iso2|iso3|admin_name|capital|population| id|date_new|
+------+------------+-----+---------+---------+---+-----+----+--------------+----+----------+---+---+-------+----+----+----------+-------+----------+---+--------+
+------+------------+-----+---------+---------+---+-----+----+--------------+----+----------+---+---+-------+----+----+----------+-------+----------+---+--------+

In [19]:
data_distinct_state=spark.sql("""SELECT  *
FROM    (SELECT *,
                ROW_NUMBER() OVER (PARTITION BY state ORDER BY date_temp) AS RowNumber
         FROM   broadcast_df2
         ) AS a
WHERE   a.RowNumber = 1""").show()

+------+------------+-----+---------+---------+---+-----+----+--------------+-------+----------+-------+--------+-------+----+----+----------+-------+----------+----------+----------+---------+
|Region|temp_country|State|city_temp|date_temp|day|month|year|AvgTemperature|   city|city_ascii|    lat|     lng|country|iso2|iso3|admin_name|capital|population|        id|  date_new|RowNumber|
+------+------------+-----+---------+---------+---+-----+----+--------------+-------+----------+-------+--------+-------+----+----+----------+-------+----------+----------+----------+---------+
|Africa|       Japan| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|Tokyo12|     Tokyo|35.6897|139.6922|  Japan| JP1| JPN|     Tōkyō|primary|  37977000|1392685764|1995-01-01|        1|
+------+------------+-----+---------+---------+---+-----+----+--------------+-------+----------+-------+--------+-------+----+----+----------+-------+----------+----------+----------+---------+

In [4]:
distinct_original_1bil_records= spark.read.format("csv").option("header", "true").load("/home/rahul/Interview/Weatherforcast/broadcast_df.csv/data.csv")

In [28]:
distinct_original_1bil_records.count()

104049799

In [5]:
distinct_original_1bil_records.cache()
distinct_original_1bil_records.show()
distinct_original_1bil_records.createOrReplaceTempView("distinct_original_1bil_records")

+------+------------+-----+---------+---------+---+-----+----+--------------+---------------+---------------+-------+------+-------+----+----+------------------+-------+----------+----------+
|Region|temp_country|State|city_temp|date_temp|day|month|year|AvgTemperature|           city|     city_ascii|    lat|   lng|country|iso2|iso3|        admin_name|capital|population|        id|
+------+------------+-----+---------+---------+---+-----+----+--------------+---------------+---------------+-------+------+-------+----+----+------------------+-------+----------+----------+
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|     I-n-Amguel|     I-n-Amguel|23.6936|5.1647|Algeria|  DZ| DZA|       Tamanrasset|   null|      3030|1012162135|
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|      Tassamert|      Tassamert|36.2693| 4.823|Algeria|  DZ| DZA|Bordj Bou Arréridj|   null|      5269|1012240413|
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|     Beni Ounif|     Beni Ounif|  32.05| -1.25|Algeria|  DZ| DZA|            Béchar|   null|      5628|1012327989|
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|        El Maïn|        El Main|36.3667|  4.75|Algeria|  DZ| DZA|            Bejaïa|   null|      6238|1012706441|
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|  Aït Bou Madhi|  Ait Bou Madhi|36.5009|   4.2|Algeria|  DZ| DZA|        Tizi Ouzou|   null|      6113|1012471822|
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|     In Guezzam|     In Guezzam|19.5686|5.7722|Algeria|  DZ| DZA|       Tamanrasset|   null|      7045|1012000031|
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|    Souk el Had|    Souk el Had|36.6909|3.5889|Algeria|  DZ| DZA|         Boumerdes|   null|      6693|1012532288|
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|     Beni Aïssi|     Beni Aissi|   29.6|  0.25|Algeria|  DZ| DZA|             Adrar|   null|      7628|1012574444|
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|        Taourga|        Taourga|36.7938|3.9463|Algeria|  DZ| DZA|         Boumerdes|   null|      7882|1012841664|
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|         Amalou|         Amalou|36.4778|4.6333|Algeria|  DZ| DZA|            Bejaïa|   null|      8602|1012045463|
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|          Tifra|          Tifra|36.6664|4.6972|Algeria|  DZ| DZA|            Bejaïa|   null|      8547|1012591585|
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|     Boukhralfa|     Boukhralfa|36.6144|5.0872|Algeria|  DZ| DZA|            Bejaïa|   null|      8766|1012066745|
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|       Abalessa|       Abalessa|  22.89|4.8472|Algeria|  DZ| DZA|       Tamanrasset|   null|      9163|1012479386|
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|     I-n-Amenas|     I-n-Amenas|  28.05|  9.55|Algeria|  DZ| DZA|            Illizi|   null|      9225|1012221429|
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|Seddouk Oufella|Seddouk Oufella|36.6061|4.6389|Algeria|  DZ| DZA|            Bejaïa|   null|      8931|1012348181|
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|         Ifigha|         Ifigha|36.6667|4.4167|Algeria|  DZ| DZA|        Tizi Ouzou|   null|      9160|1012938624|
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|   Ouled Rached|   Ouled Rached|36.2119|4.1106|Algeria|  DZ| DZA|            Bouira|   null|      9311|1012727170|
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|         Toudja|         Toudja|36.7586|4.8933|Algeria|  DZ| DZA|            Bejaïa|   null|      9827|1012114797|
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|       Bou Nouh|       Bou Nouh|   36.5|3.9333|Algeria|  DZ| DZA|        Tizi Ouzou|   null|      9731|1012718665|
|Africa|     Algeria| null|  Algiers| 1/1/1995|  1|    1|1995|          64.2|         Souama|         Souama|36.6417|4.3416|Algeria|  DZ| DZA|        Tizi Ouzou|   null|      9954|1012240654|
+------+------------+-----+---------+---------+---+-----+----+--------------+---------------+---------------+-------+------+-------+----+----+------------------+-------+----------+----------+
only showing top 20 rows

In [37]:
data_distinct_state=spark.sql("""SELECT  *
FROM    (SELECT *,
                ROW_NUMBER() OVER (PARTITION BY state ORDER BY date_temp) AS RowNumber
         FROM   distinct_original_1bil_records where temp_country='Algeria'
         ) AS a
WHERE   a.RowNumber = 1""")

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/home/rahul/anaconda3/lib/python3.9/site-packages/py4j/clientserver.py", line 480, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/rahul/anaconda3/lib/python3.9/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/home/rahul/anaconda3/lib/python3.9/site-packages/py4j/clientserver.py", line 503, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving

Py4JError: An error occurred while calling o22.sql

In [14]:
data_distinct_state=spark.sql("""SELECT  *
FROM (SELECT *,
                ROW_NUMBER() OVER (PARTITION BY temp_country ORDER BY date_temp) AS RowNumber
         FROM   distinct_original_1bil_records ) AS a
         where a.RowNumber =1 limit 10
        """)

In [15]:
data_distinct_state.cache()
data_distinct_state.show()

22/01/25 00:44:37 WARN MemoryStore: Not enough space to cache rdd_13_18 in memory! (computed 5.1 MiB so far)
22/01/25 00:44:38 WARN MemoryStore: Not enough space to cache rdd_13_19 in memory! (computed 5.1 MiB so far)
22/01/25 00:44:39 WARN MemoryStore: Not enough space to cache rdd_13_20 in memory! (computed 5.1 MiB so far)
22/01/25 00:44:41 WARN MemoryStore: Not enough space to cache rdd_13_21 in memory! (computed 5.1 MiB so far)
22/01/25 00:44:42 WARN MemoryStore: Not enough space to cache rdd_13_22 in memory! (computed 5.1 MiB so far)
22/01/25 00:44:43 WARN MemoryStore: Not enough space to cache rdd_13_23 in memory! (computed 5.1 MiB so far)
22/01/25 00:44:45 WARN MemoryStore: Not enough space to cache rdd_13_24 in memory! (computed 5.1 MiB so far)
22/01/25 00:44:46 WARN MemoryStore: Not enough space to cache rdd_13_25 in memory! (computed 5.1 MiB so far)
22/01/25 00:44:47 WARN MemoryStore: Not enough space to cache rdd_13_26 in memory! (computed 5.1 MiB so far)
22/01/25 00:44:48 WARN MemoryStore: Not enough space to cache rdd_13_27 in memory! (computed 5.1 MiB so far)
22/01/25 00:44:50 WARN MemoryStore: Not enough space to cache rdd_13_28 in memory! (computed 5.1 MiB so far)
22/01/25 00:44:51 WARN MemoryStore: Not enough space to cache rdd_13_29 in memory! (computed 5.1 MiB so far)
22/01/25 00:44:52 WARN MemoryStore: Not enough space to cache rdd_13_30 in memory! (computed 5.1 MiB so far)
22/01/25 00:44:54 WARN MemoryStore: Not enough space to cache rdd_13_31 in memory! (computed 5.1 MiB so far)
22/01/25 00:44:55 WARN MemoryStore: Not enough space to cache rdd_13_32 in memory! (computed 5.1 MiB so far)
22/01/25 00:44:56 WARN MemoryStore: Not enough space to cache rdd_13_33 in memory! (computed 5.1 MiB so far)
22/01/25 00:44:58 WARN MemoryStore: Not enough space to cache rdd_13_34 in memory! (computed 5.1 MiB so far)
22/01/25 00:44:59 WARN MemoryStore: Not enough space to cache rdd_13_35 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:00 WARN MemoryStore: Not enough space to cache rdd_13_36 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:01 WARN MemoryStore: Not enough space to cache rdd_13_37 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:03 WARN MemoryStore: Not enough space to cache rdd_13_38 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:04 WARN MemoryStore: Not enough space to cache rdd_13_39 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:05 WARN MemoryStore: Not enough space to cache rdd_13_40 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:07 WARN MemoryStore: Not enough space to cache rdd_13_41 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:08 WARN MemoryStore: Not enough space to cache rdd_13_42 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:09 WARN MemoryStore: Not enough space to cache rdd_13_43 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:10 WARN MemoryStore: Not enough space to cache rdd_13_44 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:12 WARN MemoryStore: Not enough space to cache rdd_13_45 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:13 WARN MemoryStore: Not enough space to cache rdd_13_46 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:14 WARN MemoryStore: Not enough space to cache rdd_13_47 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:16 WARN MemoryStore: Not enough space to cache rdd_13_48 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:17 WARN MemoryStore: Not enough space to cache rdd_13_49 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:18 WARN MemoryStore: Not enough space to cache rdd_13_50 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:19 WARN MemoryStore: Not enough space to cache rdd_13_51 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:21 WARN MemoryStore: Not enough space to cache rdd_13_52 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:22 WARN MemoryStore: Not enough space to cache rdd_13_53 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:23 WARN MemoryStore: Not enough space to cache rdd_13_54 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:24 WARN MemoryStore: Not enough space to cache rdd_13_55 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:26 WARN MemoryStore: Not enough space to cache rdd_13_56 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:27 WARN MemoryStore: Not enough space to cache rdd_13_57 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:28 WARN MemoryStore: Not enough space to cache rdd_13_58 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:30 WARN MemoryStore: Not enough space to cache rdd_13_59 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:31 WARN MemoryStore: Not enough space to cache rdd_13_60 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:32 WARN MemoryStore: Not enough space to cache rdd_13_61 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:33 WARN MemoryStore: Not enough space to cache rdd_13_62 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:35 WARN MemoryStore: Not enough space to cache rdd_13_63 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:36 WARN MemoryStore: Not enough space to cache rdd_13_64 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:37 WARN MemoryStore: Not enough space to cache rdd_13_65 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:38 WARN MemoryStore: Not enough space to cache rdd_13_66 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:40 WARN MemoryStore: Not enough space to cache rdd_13_67 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:41 WARN MemoryStore: Not enough space to cache rdd_13_68 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:42 WARN MemoryStore: Not enough space to cache rdd_13_69 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:44 WARN MemoryStore: Not enough space to cache rdd_13_70 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:45 WARN MemoryStore: Not enough space to cache rdd_13_71 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:46 WARN MemoryStore: Not enough space to cache rdd_13_72 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:47 WARN MemoryStore: Not enough space to cache rdd_13_73 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:49 WARN MemoryStore: Not enough space to cache rdd_13_74 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:50 WARN MemoryStore: Not enough space to cache rdd_13_75 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:51 WARN MemoryStore: Not enough space to cache rdd_13_76 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:53 WARN MemoryStore: Not enough space to cache rdd_13_77 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:54 WARN MemoryStore: Not enough space to cache rdd_13_78 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:55 WARN MemoryStore: Not enough space to cache rdd_13_79 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:57 WARN MemoryStore: Not enough space to cache rdd_13_80 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:58 WARN MemoryStore: Not enough space to cache rdd_13_81 in memory! (computed 5.1 MiB so far)
22/01/25 00:45:59 WARN MemoryStore: Not enough space to cache rdd_13_82 in memory! (computed 4.1 MiB so far)
22/01/25 00:46:00 WARN MemoryStore: Not enough space to cache rdd_13_83 in memory! (computed 4.1 MiB so far)
22/01/25 00:46:02 WARN MemoryStore: Not enough space to cache rdd_13_84 in memory! (computed 4.1 MiB so far)
22/01/25 00:46:03 WARN MemoryStore: Not enough space to cache rdd_13_85 in memory! (computed 4.1 MiB so far)
22/01/25 00:46:05 WARN MemoryStore: Not enough space to cache rdd_13_86 in memory! (computed 4.1 MiB so far)
22/01/25 00:46:06 WARN MemoryStore: Not enough space to cache rdd_13_87 in memory! (computed 4.1 MiB so far)
22/01/25 00:46:08 WARN MemoryStore: Not enough space to cache rdd_13_88 in memory! (computed 4.1 MiB so far)
22/01/25 00:46:09 WARN MemoryStore: Not enough space to cache rdd_13_89 in memory! (computed 4.1 MiB so far)
22/01/25 00:46:10 WARN MemoryStore: Not enough space to cache rdd_13_90 in memory! (computed 4.1 MiB so far)
22/01/25 00:46:11 WARN MemoryStore: Not enough space to cache rdd_13_91 in memory! (computed 4.1 MiB so far)
22/01/25 00:46:12 WARN MemoryStore: Not enough space to cache rdd_13_92 in memory! (computed 4.1 MiB so far)

22/01/25 00:46:14 WARN MemoryStore: Not enough space to cache rdd_13_93 in memory! (computed 4.1 MiB so far)
22/01/25 00:46:15 WARN MemoryStore: Not enough space to cache rdd_13_94 in memory! (computed 4.1 MiB so far)
22/01/25 00:46:16 WARN MemoryStore: Not enough space to cache rdd_13_95 in memory! (computed 4.1 MiB so far)
22/01/25 00:46:17 WARN MemoryStore: Not enough space to cache rdd_13_96 in memory! (computed 4.1 MiB so far)
22/01/25 00:46:19 WARN MemoryStore: Not enough space to cache rdd_13_97 in memory! (computed 4.1 MiB so far)

[1322.770s][warning][gc,alloc] Executor task launch worker for task 59.0 in stage 17.0 (TID 930): Retried waiting for GCLocker too often allocating 131074 words

22/01/25 00:49:48 ERROR Executor: Exception in task 59.0 in stage 17.0 (TID 930)
java.lang.OutOfMemoryError: Java heap space
	at org.apache.spark.util.collection.unsafe.sort.UnsafeSorterSpillReader.<init>(UnsafeSorterSpillReader.java:50)
	at org.apache.spark.util.collection.unsafe.sort.UnsafeSorterSpillWriter.getReader(UnsafeSorterSpillWriter.java:159)
	at org.apache.spark.util.collection.unsafe.sort.UnsafeExternalSorter.getSortedIterator(UnsafeExternalSorter.java:523)
	at org.apache.spark.sql.execution.UnsafeExternalRowSorter.sort(UnsafeExternalRowSorter.java:172)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:755)
	at org.apache.spark.sql.execution.window.WindowExec$$anon$1.fetchNextRow(WindowExec.scala:133)
	at org.apache.spark.sql.execution.window.WindowExec$$anon$1.<init>(WindowExec.scala:142)
	at org.apache.spark.sql.execution.window.WindowExec.$anonfun$doExecute$3(WindowExec.scala:122)
	at org.apache.spark.sql.execution.window.WindowExec$$Lambda$2997/0x0000000841170840.apply(Unknown Source)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:863)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:863)
	at org.apache.spark.rdd.RDD$$Lambda$2998/0x000000084116e440.apply(Unknown Source)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.executor.Executor$TaskRunner$$Lambda$2252/0x0000000840ebe440.apply(Unknown Source)
22/01/25 00:49:48 ERROR SparkUncaughtExceptionHandler: Uncaught exception in thread Thread[Executor task launch worker for task 59.0 in stage 17.0 (TID 930),5,main]
java.lang.OutOfMemoryError: Java heap space
	at org.apache.spark.util.collection.unsafe.sort.UnsafeSorterSpillReader.<init>(UnsafeSorterSpillReader.java:50)
	at org.apache.spark.util.collection.unsafe.sort.UnsafeSorterSpillWriter.getReader(UnsafeSorterSpillWriter.java:159)
	at org.apache.spark.util.collection.unsafe.sort.UnsafeExternalSorter.getSortedIterator(UnsafeExternalSorter.java:523)
	at org.apache.spark.sql.execution.UnsafeExternalRowSorter.sort(UnsafeExternalRowSorter.java:172)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:755)
	at org.apache.spark.sql.execution.window.WindowExec$$anon$1.fetchNextRow(WindowExec.scala:133)
	at org.apache.spark.sql.execution.window.WindowExec$$anon$1.<init>(WindowExec.scala:142)
	at org.apache.spark.sql.execution.window.WindowExec.$anonfun$doExecute$3(WindowExec.scala:122)
	at org.apache.spark.sql.execution.window.WindowExec$$Lambda$2997/0x0000000841170840.apply(Unknown Source)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:863)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:863)
	at org.apache.spark.rdd.RDD$$Lambda$2998/0x000000084116e440.apply(Unknown Source)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.executor.Executor$TaskRunner$$Lambda$2252/0x0000000840ebe440.apply(Unknown Source)
22/01/25 00:49:48 ERROR Inbox: Ignoring error
java.util.concurrent.RejectedExecutionException: Task org.apache.spark.executor.Executor$TaskRunner@2bbb578d rejected from java.util.concurrent.ThreadPoolExecutor@31fb6b3[Shutting down, pool size = 1, active threads = 1, queued tasks = 0, completed tasks = 930]
	at java.base/java.util.concurrent.ThreadPoolExecutor$AbortPolicy.rejectedExecution(ThreadPoolExecutor.java:2055)
	at java.base/java.util.concurrent.ThreadPoolExecutor.reject(ThreadPoolExecutor.java:825)
	at java.base/java.util.concurrent.ThreadPoolExecutor.execute(ThreadPoolExecutor.java:1355)
	at org.apache.spark.executor.Executor.launchTask(Executor.scala:270)
	at org.apache.spark.scheduler.local.LocalEndpoint.$anonfun$reviveOffers$1(LocalSchedulerBackend.scala:93)
	at org.apache.spark.scheduler.local.LocalEndpoint.$anonfun$reviveOffers$1$adapted(LocalSchedulerBackend.scala:91)
	at scala.collection.Iterator.foreach(Iterator.scala:941)
	at scala.collection.Iterator.foreach$(Iterator.scala:941)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1429)
	at scala.collection.IterableLike.foreach(IterableLike.scala:74)
	at scala.collection.IterableLike.foreach$(IterableLike.scala:73)
	at scala.collection.AbstractIterable.foreach(Iterable.scala:56)
	at org.apache.spark.scheduler.local.LocalEndpoint.reviveOffers(LocalSchedulerBackend.scala:91)
	at org.apache.spark.scheduler.local.LocalEndpoint$$anonfun$receive$1.applyOrElse(LocalSchedulerBackend.scala:74)
	at org.apache.spark.rpc.netty.Inbox.$anonfun$process$1(Inbox.scala:115)
	at org.apache.spark.rpc.netty.Inbox.safelyCall(Inbox.scala:213)
	at org.apache.spark.rpc.netty.Inbox.process(Inbox.scala:100)
	at org.apache.spark.rpc.netty.MessageLoop.org$apache$spark$rpc$netty$MessageLoop$$receiveLoop(MessageLoop.scala:75)
	at org.apache.spark.rpc.netty.MessageLoop$$anon$1.run(MessageLoop.scala:41)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
22/01/25 00:49:48 WARN TaskSetManager: Lost task 59.0 in stage 17.0 (TID 930) (192.168.10.100 executor driver): java.lang.OutOfMemoryError: Java heap space
	at org.apache.spark.util.collection.unsafe.sort.UnsafeSorterSpillReader.<init>(UnsafeSorterSpillReader.java:50)
	at org.apache.spark.util.collection.unsafe.sort.UnsafeSorterSpillWriter.getReader(UnsafeSorterSpillWriter.java:159)
	at org.apache.spark.util.collection.unsafe.sort.UnsafeExternalSorter.getSortedIterator(UnsafeExternalSorter.java:523)
	at org.apache.spark.sql.execution.UnsafeExternalRowSorter.sort(UnsafeExternalRowSorter.java:172)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:755)
	at org.apache.spark.sql.execution.window.WindowExec$$anon$1.fetchNextRow(WindowExec.scala:133)
	at org.apache.spark.sql.execution.window.WindowExec$$anon$1.<init>(WindowExec.scala:142)
	at org.apache.spark.sql.execution.window.WindowExec.$anonfun$doExecute$3(WindowExec.scala:122)
	at org.apache.spark.sql.execution.window.WindowExec$$Lambda$2997/0x0000000841170840.apply(Unknown Source)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:863)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:863)
	at org.apache.spark.rdd.RDD$$Lambda$2998/0x000000084116e440.apply(Unknown Source)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.executor.Executor$TaskRunner$$Lambda$2252/0x0000000840ebe440.apply(Unknown Source)

22/01/25 00:49:48 ERROR TaskSetManager: Task 59 in stage 17.0 failed 1 times; aborting job

Py4JJavaError: An error occurred while calling o42.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 59 in stage 17.0 failed 1 times, most recent failure: Lost task 59.0 in stage 17.0 (TID 930) (192.168.10.100 executor driver): java.lang.OutOfMemoryError: Java heap space
	at org.apache.spark.util.collection.unsafe.sort.UnsafeSorterSpillReader.<init>(UnsafeSorterSpillReader.java:50)
	at org.apache.spark.util.collection.unsafe.sort.UnsafeSorterSpillWriter.getReader(UnsafeSorterSpillWriter.java:159)
	at org.apache.spark.util.collection.unsafe.sort.UnsafeExternalSorter.getSortedIterator(UnsafeExternalSorter.java:523)
	at org.apache.spark.sql.execution.UnsafeExternalRowSorter.sort(UnsafeExternalRowSorter.java:172)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:755)
	at org.apache.spark.sql.execution.window.WindowExec$$anon$1.fetchNextRow(WindowExec.scala:133)
	at org.apache.spark.sql.execution.window.WindowExec$$anon$1.<init>(WindowExec.scala:142)
	at org.apache.spark.sql.execution.window.WindowExec.$anonfun$doExecute$3(WindowExec.scala:122)
	at org.apache.spark.sql.execution.window.WindowExec$$Lambda$2997/0x0000000841170840.apply(Unknown Source)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:863)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:863)
	at org.apache.spark.rdd.RDD$$Lambda$2998/0x000000084116e440.apply(Unknown Source)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.executor.Executor$TaskRunner$$Lambda$2252/0x0000000840ebe440.apply(Unknown Source)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2258)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2207)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2206)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2206)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1079)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1079)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1079)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2445)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2387)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2376)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:868)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2196)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2217)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2236)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:472)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:425)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:47)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:3696)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:2722)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3687)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3685)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2722)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2929)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:301)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:338)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.lang.OutOfMemoryError: Java heap space
	at org.apache.spark.util.collection.unsafe.sort.UnsafeSorterSpillReader.<init>(UnsafeSorterSpillReader.java:50)
	at org.apache.spark.util.collection.unsafe.sort.UnsafeSorterSpillWriter.getReader(UnsafeSorterSpillWriter.java:159)
	at org.apache.spark.util.collection.unsafe.sort.UnsafeExternalSorter.getSortedIterator(UnsafeExternalSorter.java:523)
	at org.apache.spark.sql.execution.UnsafeExternalRowSorter.sort(UnsafeExternalRowSorter.java:172)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:755)
	at org.apache.spark.sql.execution.window.WindowExec$$anon$1.fetchNextRow(WindowExec.scala:133)
	at org.apache.spark.sql.execution.window.WindowExec$$anon$1.<init>(WindowExec.scala:142)
	at org.apache.spark.sql.execution.window.WindowExec.$anonfun$doExecute$3(WindowExec.scala:122)
	at org.apache.spark.sql.execution.window.WindowExec$$Lambda$2997/0x0000000841170840.apply(Unknown Source)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:863)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:863)
	at org.apache.spark.rdd.RDD$$Lambda$2998/0x000000084116e440.apply(Unknown Source)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.executor.Executor$TaskRunner$$Lambda$2252/0x0000000840ebe440.apply(Unknown Source)